<%- contentFor('title') %>
    Atividades de Extensão

    <%- contentFor('main') %>
        <section class="atividades" id="main">
            <div class="atividades-content">
                <div class="conteudo-container">
                    <div class="lista-atividades">
                        <div class="atividades-titulos">
                            <h2>Atividades de Extensão</h2>
                            <div class="btn-box">
                                <a href="/postAEs"><button>Registre uma nova atividade</button></a>
                            </div>
                        </div>

                        <button class="accordion">
                            <i class="bx bxs-folder-open"></i>Programa
                        </button>
                        <div class="panel">
                            <% certificado.forEach(function(certificado){ %>
                                <% if (certificado.name_category=='programa' ) {%>
                                    <div class="panel-documentos">
                                        <div class="text-documents">
                                            <span><i class='bx bxs-file-pdf'></i>
                                                <%= certificado.name %>
                                            </span>

                                            <a href="/mostrar_ae/<%= certificado.id_uploaded %>"> <i
                                                    class='bx bx-plus'></i> Mais
                                                informações </a>
                                        </div>
                                    </div>
                                    <% }}); %>
                        </div>

                        <button class="accordion">
                            <i class="bx bxs-folder-open"></i>Projeto
                        </button>
                        <div class="panel">
                            <% certificado.forEach(function(certificado){ %>
                                <% if (certificado.name_category=='projeto' ) {%>
                                    <div class="panel-documentos">
                                        <div class="text-documents">
                                            <span><i class='bx bxs-file-pdf'></i>
                                                <%= certificado.name %>
                                            </span>

                                            <a href="/mostrar_ae/<%= certificado.id_uploaded %>"> <i
                                                    class='bx bx-plus'></i> Mais
                                                informações </a>
                                        </div>
                                    </div>
                                    <% }}); %>
                        </div>

                        <button class="accordion">
                            <i class="bx bxs-folder-open"></i>Organização de Curso
                        </button>
                        <div class="panel">
                            <% certificado.forEach(function(certificado){ %>
                                <% if (certificado.name_category=='curso' ) {%>
                                    <div class="panel-documentos">
                                        <div class="text-documents">
                                            <span><i class='bx bxs-file-pdf'></i>
                                                <%= certificado.name %>
                                            </span>

                                            <a href="/mostrar_ae/<%= certificado.id_uploaded %>"> <i
                                                    class='bx bx-plus'></i> Mais
                                                informações </a>
                                        </div>
                                    </div>
                                    <% }}); %>
                        </div>

                        <button class="accordion">
                            <i class="bx bxs-folder-open"></i>Execução de Curso
                        </button>
                        <div class="panel">
                            <% certificado.forEach(function(certificado){ %>
                                <% if (certificado.name_category=='execução de curso' ) {%>
                                    <div class="panel-documentos">
                                        <div class="text-documents">
                                            <span><i class='bx bxs-file-pdf'></i>
                                                <%= certificado.name %>
                                            </span>

                                            <a href="/mostrar_ae/<%= certificado.id_uploaded %>"> <i
                                                    class='bx bx-plus'></i> Mais
                                                informações </a>
                                        </div>
                                    </div>
                                    <% }}); %>
                        </div>

                        <button class="accordion">
                            <i class="bx bxs-folder-open"></i>Evento
                        </button>
                        <div class="panel">
                            <% certificado.forEach(function(certificado){ %>
                                <% if (certificado.name_category=='evento' ) {%>
                                    <div class="panel-documentos">
                                        <div class="text-documents">
                                            <span><i class='bx bxs-file-pdf'></i>
                                                <%= certificado.name %>
                                            </span>

                                            <a href="/mostrar_ae/<%= certificado.id_uploaded %>"> <i
                                                    class='bx bx-plus'></i> Mais
                                                informações </a>
                                        </div>
                                    </div>
                                    <% }}); %>
                        </div>

                        <button class="accordion">
                            <i class="bx bxs-folder-open"></i>Prestação de Serviço
                        </button>
                        <div class="panel">
                            <% certificado.forEach(function(certificado){ %>
                                <% if (certificado.name_category=='prestação de serviço' ) {%>
                                    <div class="panel-documentos">
                                        <div class="text-documents">
                                            <span><i class='bx bxs-file-pdf'></i>
                                                <%= certificado.name %>
                                            </span>

                                            <a href="/mostrar_ae/<%= certificado.id_uploaded %>"> <i
                                                    class='bx bx-plus'></i> Mais
                                                informações </a>
                                        </div>
                                    </div>
                                    <% }}); %>
                        </div>

                    </div>

                </div>
            </div>
            </div>
            </div>
        </section>
        </main>
        <script src="/public/js/javascript.js"></script>
        </body>

        </html>